# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/

build/
.dart_tool/
*.g.dart
*.gen.dart
*.mocks.dart
*.freezed.dart
*.config.dart

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

android/keys/debug-key.properties
android/keys/release-key.properties
firebase.json
license/license.json
app_secret/app_secret.json
ios/Podfile.lock
fire_sa_cred.json
android/fastlane/report.xml
android/playstore_sa_cred.json
android/fastlane/playstore_sa_cred.json
ios/fastlane/appstore_api_key.p8
ios/fastlane/build/
ios/fastlane/README.md
android/fastlane/README.md
android/fastlane/build/

# FVM Version Cache
.fvm/
android/app/.cxx/
ReleaseNote.md
fire-sa-cred.json
ios/fastlane/report.xml
android/deployment_info.json
ios/deployment_info.json
common_lane/fastlane/report.xml
common_lane/fastlane/README.md
android/keys/upload-key.properties
